body {
    background-color: #006ecc;
}

h1 {
   box-shadow: -7px -8px black;
}

.container {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

/* Tooltip container */
.col-xs-4 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.col-xs-4 .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: #000000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: -5px;
    left: 105%;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.col-xs-4:hover .tooltip {
    visibility: visible;
}

button {
    color: white;
    background-color: black;
    padding: 8px 20px;
}